ul {
  padding: 0;
  list-style: none;
  width: 30%;
  margin: auto;
}

li {
  font-size: 1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}

.login-button {
  display: grid;
  margin: auto;
  width: 20%;
  border: none;
  background-color: blue;
  padding: 14px 28px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
  color: black;
}

.login-button:hover {
  background-color: green;
  color: white;
}
