.boxed {
  border: 1px solid green ;
  height: 450px;
}
.button{
    position: absolute;
    top:550px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
