h1{
    color:white;
    text-align: left;
    font-size: 30px;
    margin-left: 45px;
}

p{
    color: white;
    font-size: 20px;
}

body {
    height: 100%;
    background: linear-gradient(90deg,  #214C84 22%, #221F1F 20%)
}


.sideButtons {
    display: block;
    padding: 10px 24px;
}

.sideBtn{
    background: #545454;
    text-color: white;
    position:relative;
    flex: 0 0 19.7%;
    left: 10px;
    top: -190px;
    height: 100px;
    width: 180px;
    margin-bottom: 10px;
    text-align:center;
    transition:transform 300ms ease 200ms
}

.sideButtons:hover .sideBtn {
    transform: translateY(-10%);
}

.sideBtn:hover ~.sideBtn{
    transform: translateY(10%);
} 

.sideBtn:hover {
    transform: scale(1.2) !important;
}

.media{
 display: flex;
}

.weatherApi {
    margin-left: 2.5px;
}

.video{
    margin-left: 100px;
}

.bottomButtons{
    display: flex;
    padding: 10px 54px;
}

.bottomBtn{
    background: green;
    position:relative;
    flex: 0 0 19.7%;
    left: 225px;
    top: -325px;
    height: 100px;
    margin:5px;
    transition:transform 300ms ease 200ms
}

.bottomBtn:hover .bottomBtn {
    transform: translateX(-10%);
}

.bottomBtn:hover ~.bottomBtn{
    transform: translateX(10%);
} 

.bottomBtn:hover {
    transform: scale(1.2) !important;
}
