ul {
  padding: 0;
  list-style: none;
  width: 30%;
  margin: auto;
}

li {
  font-size: 1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}

.logout-button {
  display: grid;
  width: 10%;
  border: none;
  background-color: blue;
  padding: 5px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  transition-duration: 0.4s;
  color: black;
  float: right;
}

.logout-button:hover {
  background-color: red;
  color: white;
}
