.curator
{
    font-family: "Open Sans", sans-serif;
    background-color: steelblue;
}

/*body
{
    width: 600px;
    margin: 0 auto;
    background-color: steelblue;
    padding: 0 0px 20px 20px;
    border: 5px solid black;
}*/

.curator body
{
    text-align: center;
}

.cvTitle
{
    color: khaki;
    font-size: 60px;
    margin: 0;
    padding: 0px 0;
    text-shadow: 3px 3px 1px black;
}

.cvtoprow
{
    display: inline-block;
    padding: 30px;
}

.cvPanel
{
    padding: 30px;
}

.curator label, .curator option, .curator input, .curator select
{
    color: khaki;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
}

select.cvMembList
{
    background-color: dimgray;
}

input.AddBtn
{
    background-color: green;
}

input.RemBtn
{
    background-color: darkred;
}