/*Document & Body*/

html {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(113, 170, 216);
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgb(113, 170, 216) 22%, #696969 20%);
}

/*Page Title*/

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 60px;
  margin: 0;
  padding: 0px;
  text-shadow: 3px 3px 1px black;
}

/*index*/

.index button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  background-color: grey;
  cursor: pointer;
}

.index button:hover {
  background-color: grey;
}

/* curator view */

.curatorview .video {
  margin-left: 15%;
  margin-right: 15%;
}

/*Reminders and Messages*/

.Messages h2 {
  color: rgb(255, 255, 255);
  text-decoration: solid;
  padding-bottom: 4px;
  margin: 0;
}
.Messages label,
.Messages input {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  margin-right: 2px;
  margin-bottom: 10px;
}

input.SndBtn {
  background-color: rgb(69, 69, 69);
  cursor: pointer;
}
input.SndBtn:hover {
  background-color: grey;
}

input.txtbox,
select.rmndrList {
  background-color: rgb(69, 69, 69);
}

/* elderly person view and curator view main page */

.elderview p {
  color: white;
  font-size: 20px;
}

.sideButtons {
  display: block;
  padding: 10px 24px;
}

.sideBtn {
  background: #8f8f8f;
  color: white;
  position: relative;
  flex: 0 0 19.7%;
  left: 10px;
  margin-top: 1%;
  height: 100px;
  width: 180px;
  margin-bottom: 10px;
  text-align: center;
  transition: transform 300ms ease 200ms;
}

.sideButtons:hover .sideBtn {
  transform: translateY(-10%);
}

.sideBtn:hover ~ .sideBtn {
  transform: translateY(10%);
}

.sideBtn:hover {
  transform: scale(1.2) !important;
}

.weatherApi {
  margin-left: 1%;
}

.elderview .video {
  margin-left: 32%;
  margin-right: 5%;
}

.bottomButtons {
  display: flex;
  padding: 10px 54px;
}

.bottomBtn {
  background: green;
  position: relative;
  flex: 0 0 15%;
  left: 30%;
  top: -200px;
  height: 100px;
  margin: 5px;
  transition: transform 300ms ease 200ms;
}

.bottomBtn:hover .bottomBtn {
  transform: translateX(-10%);
}

.bottomBtn:hover ~ .bottomBtn {
  transform: translateX(10%);
}

.bottomBtn:hover {
  transform: scale(1.2) !important;
}
