/*Document & Body*/

html {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(113, 170, 216);
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgb(113, 170, 216) 22%, #696969 20%);
}

/*Page Title*/

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 60px;
  margin: 0;
  padding: 0px;
  text-shadow: 3px 3px 1px black;
}

/*index*/

.index button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  background-color: grey;
  cursor: pointer;
}

.index button:hover {
  background-color: grey;
}

/* curator view */

.curatorview .video {
  margin-left: 15%;
  margin-right: 15%;
}

/*Reminders and Messages*/

.Messages h2 {
  color: rgb(255, 255, 255);
  text-decoration: solid;
  padding-bottom: 4px;
  margin: 0;
}
.Messages label,
.Messages input {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  margin-right: 2px;
  margin-bottom: 10px;
}

input.SndBtn {
  background-color: rgb(69, 69, 69);
  cursor: pointer;
}
input.SndBtn:hover {
  background-color: grey;
}

input.txtbox,
select.rmndrList {
  background-color: rgb(69, 69, 69);
}

/* elderly person view and curator view main page */

.backg{
  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, rgb(113, 170, 216) 22%, #696969 20%)
}

.sideButtons p{
  font-size: 30px;
  color: white;
  text-align: center;
  padding-top: 7%;
}

.header h1{
  color: white;
  font-size: 30px;
  margin: 20px;
}

.sideButtons{
  display: block;
  position: absolute;
  top:17%;
  left: 1%;
}

.sideBtn{
  position:relative;
  flex: 0 0 19.7%;

  left:950px;
  top:150px;
  height: 65px;
  width: 190px;
  text-align:center;
  transition:transform 300ms ease 200ms
}

.currentButtonHighlight{
  background-color:steelblue;
}

.buttonsHighlight{
  background-color: #696969;
}

.sideButtons:hover .sideBtn {
  transform: translateY(-10%);
}

.sideBtn:hover ~.sideBtn{
  transform: translateY(10%);
} 

.sideBtn:hover {
  transform: scale(1.2) !important;
}

.weatherApi {
 position: absolute;
 right: 0.8%;
 bottom:58%;
}

.elderview .video{
 position: absolute;
 top: 17%;
 left:2.3%;
}

.tcontainer {
  width: 78%;
  overflow: hidden;
  bottom: 0%;
  position:absolute;
  left:0.01%;
  height: 30px;
}

.ticker-wrap {
  width: 78%;
  padding-left: 100%;
  background-color: #eee;
  height: 30px;
}
  
@keyframes ticker {
  100% {
      transform: translate3d(-100%, 0, 0);
  }
}
  
.ticker-move {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-timing-function: linear;
  animation: ticker 40s infinite;
}
  
.ticker-move:hover {
  animation-play-state: paused;
}

.ticker-item {
  display: inline-block;
  padding: 0 40px;
  font-size: 30px;
}

.newsChannel{
  background-color: steelblue;
  position: absolute;
  bottom: 0%;
  width: 150px;
  height: 30px;
  left: 0.01%;
  text-align:center;
}

.newsChannel h2{
  position:absolute;
  color:white;
  font-size: 25px;
  top:-50%;
  left:8%;
}
